In [6]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [10]:
# extracting all tables in website
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [8]:
# finding tables in group stage
all_tables[13]
all_tables[20]
all_tables[27]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1  Saudi Arabia    1  1  0  0   2   1  +1    3  Advance to knockout stage
1    2        Mexico    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Poland    0  0  0  0   0   0   0    0                        NaN
3    4     Argentina    1  0  0  1   1   2  −1    0                        NaN

In [9]:
# From Group A to Group H
# Table13 = Group A
# Table20 = Group B
# The tables repeat 7 by 7 and it is necessary to repeat this process 8 times
# 13 + 7*8 = 67

for i in range(13,69,7):
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop(df.columns[10])

13
20
27
34
41
48
55
62

In [11]:
# Now, we adding the name  for each group.
# To do that, we use the method "ascii_uppercase" from the library "String"

dict_groups={}
for letter, i in zip(alphabet,range(13,69,7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop(df.columns[10])
    dict_groups[f'Group {letter}'] = df

In [12]:
dict_groups.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [14]:
dict_groups['Group D']

   Pos       Team  Pld  W  D  L  GF  GA  GD   Pts
0    1    Tunisia    1  0  1  0   0   0   0  1[a]
1    2    Denmark    1  0  1  0   0   0   0  1[a]
2    3     France    0  0  0  0   0   0   0     0
3    4  Australia    0  0  0  0   0   0   0     0

In [15]:
# Upload (..verify if uploaded correctly)
with open('dict_table', 'wb') as output:
    pickle.dump(dict_groups, output)